# Cache files
__pycache__/
.pyc
.DS_Store

# Text editor remnants
.vscode/
.vs/
.idea/
CMakeLists.txt
cmake-build-debug
venv/
.venv

# Project-specific ignores
base_*/
build/
expected/
notes/
tools/gcc
tools/ido
*.elf
*.o
*.a

# Tool artifacts
ctx.c

libultra_collection/
