.splat/
asm/
bin/
assets/
build/

linker_scripts/jp/auto/
linker_scripts/cn/auto/
linker_scripts/jp/animalforest.ld
linker_scripts/cn/animalforest.ld
*_auto.ld
animalforest.ld

__pycache__/
.make_options

ctx.c
ctx.c.m2c
*.o

*.z64
*.n64
*.v64
*.plf
*.sym

.vscode/
!.vscode/c_cpp_properties.json
